<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" http-equiv="Refresh" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/AdminLTE/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/blue.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/AdminLTE/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/AdminLTE/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/_all-skins.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/morris.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/bootstrap3-wysihtml5.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/all.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/select2.css" rel="stylesheet" />    
    <link href="~/Content/AdminLTE/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/fullcalendar.print.css" rel="stylesheet" />            
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">    
    <link rel="stylesheet/less" type="text/css" href="~/Content/AdminLTE/pagination.less" />
    <style>
        .btn_acpt {
            position: relative;
            width: 15% !important;
            height: 10% !important;
            margin-left: 348px;
            margin-top: -30px;
        }

        .btn_rjct {
            position: relative;
            width: 15% !important;
            height: 10% !important;
            margin-left: 439px;
            margin-top: -41px !important;
        }

        .btn_close {
            width: 15% !important;
            height: 10% !important;
        }




    </style>

</head>

<body class="hold-transition skin-blue sidebar-mini" onload="JavaScript:timedRefresh(5000);">
    @*<div class="container">
        <div class="row">
           
        </div>
    </div>*@
    <div id="preloader"><div class="spinner-sm spinner-sm-1" id="status"> </div></div>
    <div class="modal fade" id="modalCommon">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sucesss</h4>
                </div>
                <div class="modal-body">
                    <p id="commonMsg"></p>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">OK</button>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modal-notification">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Session["UserId"] != null)
                    {
                        var notify = (Session["Notifications"] as List<Classes.Notification>);
                        if (notify.Count != 0)
                        {
                            <ul class="modalfrndReq">
                                @foreach (var nots in (Session["Notifications"] as List<Classes.Notification>))
                                {
                                    <li style="list-style-type:none;">
                                        <p>
                                            <i class="fa fa-user text-red"></i> @(nots.friendUserName) send to you Friend Request.
                                        </p>
                                        <button type="button" class="btn btn-block btn-success btn-sm btn_acpt" data-value="@nots.notificationId"><i class="fa fa-thumbs-up text-white" aria-hidden="true"></i>&nbsp;&nbsp;Accept</button>
                                        <button type="button" class="btn btn-block btn-danger btn-sm btn_rjct" data-value="@nots.notificationId"><i class="fa fa-thumbs-down text-white" aria-hidden="true"></i>&nbsp;&nbsp;Reject</button>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul class="modalfrndReq"></ul>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-primary btn-sm btn_close" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="wrapper" id="menuBar">
        @*<div class="loader"></div>*@
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>D</b>E</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Daily</b>Expense</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        @*<li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>

                                        <ul class="menu">
                                            <li>

                                                <a href="#">
                                                    <div class="pull-left">
                                                        @{

                                                            foreach (var user in (Session["Profile"] as List<Classes.User>))
                                                            {
                                                                if (user.picture != null)
                                                                {
                                                                    <img src="data:image/png;base64,@(user.picture)" class="img-circle" alt="User Image" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/Images/AdminLTE/avatar5.png" class="img-circle" alt="User Image" />
                                                                }

                                                            }
                                                        }


                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="~/Images/AdminLTE/avatar5.png" class="img-circle" alt="User Image" />
                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team
                                                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Developers
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Sales Department
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Reviewers
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>*@
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            @{
                                var notif = (Session["Notifications"] as List<Classes.Notification>);
                            }
                            @if (notif.Count != 0)
                            {
                                <a href="#" class="dropdown-toggle not-numdisplay" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning menu-bell">@(notif.Count)</span>
                                </a>
                            }
                            else
                            {
                                <a href="#" class="dropdown-toggle not-numdisplay" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    @*<span class="label label-warning menu-bell">@(notif.Count)</span>*@
                                </a>
                            }

                            <ul class="dropdown-menu">
                                @*<li class="header">You have @(notif.Count) notifications</li>*@
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu notification-menu">
                                        @*<li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>*@
                                        @if (Session["UserId"] != null)
                                        {
                                            var notify = (Session["Notifications"] as List<Classes.Notification>);
                                            if (notify.Count != 0)
                                            {
                                                <li id="notifyModal">
                                                    <a href="#">
                                                        <i class="fa fa-user text-red"></i>You have @(notify.Count) Friend Request

                                                    </a>
                                                    @*@foreach (var nots in (Session["Notifications"] as List<Classes.Notification>))
                                                        {
                                                            <a href="#">
                                                                <i class="fa fa-user text-red"></i>Friend Request from @(nots.friendUserName)
                                                            data-toggle="modal" data-target="#modal-notification"
                                                            </a>
                                                        }*@
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                @*<li class="footer"><a href="#">View all</a></li>*@
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        @*<li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Create a nice theme
                                                        <small class="pull-right">40%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Some task I need to do
                                                        <small class="pull-right">60%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">60% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Make beautiful transitions
                                                        <small class="pull-right">80%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>*@
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @{
                                    foreach (var user in (Session["Profile"] as List<Classes.User>))
                                    {
                                        if (user.picture != null)
                                        {
                                            <img src="data:image/png;base64,@(user.picture)" class="user-image" alt="User Image" />
                                        }
                                        else
                                        {
                                            <img src="~/Images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />
                                        }

                                        <span class="hidden-xs">@(user.FirstName + " " + user.LastName)</span>
                                    }

                                }

                                @*<img src="~/Images/AdminLTE/avatar5.png" class="user-image" alt="User Image" />*@
                                @*<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@

                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    @{
                                        foreach (var user in (Session["Profile"] as List<Classes.User>))
                                        {
                                            if (user.picture != null)
                                            {
                                                <img src="data:image/png;base64,@(user.picture)" class="img-circle" alt="User Image" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/AdminLTE/avatar5.png" class="img-circle" alt="User Image" />
                                            }
                                            <p>
                                                @(user.FirstName + " " + user.LastName)
                                                <small>@user.CountryName</small>
                                            </p>
                                        }
                                    }
                                </li>
                                @*<li class="user-header">

                                        <img src="~/Images/AdminLTE/avatar5.png" class="img-circle" alt="User Image" />
                                        <p>
                                            Alexander Pierce - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>*@
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>

                                    </li>*@
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="../Home/ProfileView" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="../Home/SignOut" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    @{
                        foreach (var user in (Session["Profile"] as List<Classes.User>))
                        {
                            <div class="pull-left image">
                                @if (user.picture != null)
                                {
                                    <img src="data:image/png;base64,@(user.picture)" class="img-circle" alt="User Image" />
                                }
                                else
                                {
                                    <img src="~/Images/AdminLTE/avatar5.png" class="img-circle" alt="User Image" />
                                }

                            </div>
                            <div class="pull-left info">
                                <p>@(user.FirstName + " " + user.LastName)</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        }
                    }

                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview dash_board">
                        <a href="../Home/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            @*<span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>*@
                        </a>
                        @*<ul class="treeview-menu">
                                <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                                <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                            </ul>*@
                    </li>
                    @*<li class="treeview">

                                <i class="fa fa-files-o"></i>
                                <span>Personel Expense</span>

                            <ul class="treeview-menu">
                                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Expense Entry</a></li>
                                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> View Expense Details</a></li>

                            </ul>
                        </li>*@
                    @*<li>
                            <a href="pages/widgets.html">
                                <i class="fa fa-th"></i> <span>Widgets</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-green">new</small>
                                </span>
                            </a>
                        </li>*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>Charts</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                            </ul>
                        </li>*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Personel Expense</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../Expense/PersonelExpense"><i class="fa fa-circle-o"></i> Expense Entry</a></li>
                            <li><a href="../Expense/ViewPersonelExpense"><i class="fa fa-circle-o"></i> View Expense</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>Trip Details</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="../Expense/TripDetails"><i class="fa fa-circle-o"></i> Start Your Trip</a></li>
                            @*<li><a href="../Expense/TripExpenseEntry"><i class="fa fa-circle-o"></i> Expense Entry</a></li>*@
                            <li><a href="../Expense/TripHistory"><i class="fa fa-circle-o"></i> Trip History</a></li>
                        </ul>
                    </li>
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Forms</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                                <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                            </ul>
                        </li>*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Tables</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="pages/calendar.html">
                                <i class="fa fa-calendar"></i> <span>Calendar</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-red">3</small>
                                    <small class="label pull-right bg-blue">17</small>
                                </span>
                            </a>
                        </li>*@

                    <li>
                        <a href="pages/mailbox/mailbox.html">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <span class="pull-right-container">
                                @*<small class="label pull-right bg-yellow">12</small>*@
                                <small class="label pull-right bg-green">16</small>
                                @*<small class="label pull-right bg-red">5</small>*@
                            </span>
                        </a>
                    </li>
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i> <span>Examples</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                                <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                                <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                                <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                                <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                            </ul>
                        </li>*@
                    @*<li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i> <span>Multilevel</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> Level One
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                        <li class="treeview">
                                            <a href="#">
                                                <i class="fa fa-circle-o"></i> Level Two
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            </ul>
                        </li>*@
                    <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
       
        @RenderBody()
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2017-2018 <a href="https://adminlte.io">Daily Expense</a>.</strong> All rights
            reserved.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/AdminLTE/jquery.min.js"></script>
    <script src="~/Scripts/AdminLTE/bootstrap.min.js"></script>
    <script src="~/Scripts/AdminLTE/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/AdminLTE/fastclick.js"></script>
    <script src="~/Scripts/AdminLTE/adminlte.min.js"></script>
    <script src="~/Scripts/AdminLTE/jquery-ui.js"></script>
    <script src="~/Scripts/AdminLTE/raphael.js"></script>
    <script src="~/Scripts/AdminLTE/morris.js"></script>
    <script src="~/Scripts/AdminLTE/jquery.sparkline.js"></script>
    <script src="~/Scripts/AdminLTE/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/AdminLTE/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/AdminLTE/jquery.knob.min.js"></script>
    <script src="~/Scripts/AdminLTE/moment.min.js"></script>
    <script src="~/Scripts/AdminLTE/daterangepicker.js"></script>
    <script src="~/Scripts/AdminLTE/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/AdminLTE/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>
    <script src="~/Scripts/AdminLTE/dashboard.js"></script>
    <script src="~/Scripts/AdminLTE/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/AdminLTE/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/AdminLTE/select2.full.min.js"></script>*@
    <script src="~/Scripts/AdminLTE/select2.full.js"></script>
    <script src="~/Scripts/AdminLTE/icheck.min.js"></script>
    <script src="~/Scripts/AdminLTE/fullcalendar.min.js"></script>
    <script src="~/Scripts/AdminLTE/moment.js"></script>
    <script src="~/Scripts/Common/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });

        //function timedRefresh(timeoutPeriod) {
        //    setTimeout(function () {
        //        alert("loading....");
        //        location.reload(true);
        //    }, timeoutPeriod);
        //}
        //setInterval(function () {
        //    $('#menuBar').reload(true);
        //    alert("loading....");
        //}, 10000);
        //setInterval(page_refresh, 5 * 1000);;
        //function autoRefresh_div() {
        //    $("#menuBar").load("_DashboardMenu.cshtml");
        //}
        //setInterval(autoRefresh_div, 5000);
        //autoRefresh_div();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
